.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  padding-bottom: 15px;
}

.sidenav-container {
  flex: 1;
}

.sidenav {
}

.sidenav-content {
  flex: 1;
}
