/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.elevation-classes();
@include mat.app-background();

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($light-theme);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgba(
    mat.get-theme-color($light-theme, primary-container),
    1
  );
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100%;
}
.flex-container {
  display: flex;
}

.flex-container-col {
  display: flex;
  flex-flow: column;
}

.flex-container-row {
  display: flex;
  flex-flow: row;
}

.flex-form {
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.modal {
  margin: 35px;
}

.grid {
  width: 100%;
  height: 60vh;
}

.btn {
  vertical-align: middle;
}

mat-form-field {
  width: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
}
